// ## Colors

// ### Primary

 $Moderate-violet: #7541c8;
// Very-dark-grayish-blue: hsl(217, 19%, 35%)
// Very-dark blackish-blue: hsl(219, 29%, 14%)
// White: hsl(0, 0%, 100%)

// ### Neutral

// Light-gray: hsl(0, 0%, 81%)
// Light-grayish-blue: hsl(210, 46%, 95%)


:root {
    --selection-bg: 277 100% 50%;
    --violet: 263 55% 52%;
    --dark-grayish-blue: 217 19% 35%;
    --dark-blackish-blue: 219 29% 14%;
    --light-gray: 0 0% 81%;
    --Light-grayish-blue: 210 46% 95%;
    --white: 0 0% 100%;
    --green: 153 46% 49%;
  }
